<div class="main-content">
  <mat-card>
    <h2>Reto tech <strong>Siigo API</strong></h2>

    <mat-divider></mat-divider>
    <br />
    <p>
      Este proyecto fue desarrollado por <strong>Jose Altamar</strong>, para
      participar en el reto de crear una interfaz que consuma
      <strong>Siigo API.</strong>
    </p>

    <mat-divider></mat-divider>

    <br />
    <p>
      Para más información acerca de mí, visite mi
      <a href="https://joralmo.github.io">portafolio</a>
    </p>
  </mat-card>
</div>
